@font-face {
    font-family: 'Wizarding World';
    src: url('../../fonts/WizardingWorld.ttf');
  }
  
  @font-face {
    font-family: 'Fantastic';
    src: url('../../fonts/Fantastic.ttf');
  }
  
  
  @font-face {
    font-family: 'Hagrid';
    src: url('../../fonts/Hagrid.ttf');
  }
  
  
  @font-face {
    font-family: 'Azkaban';
    src: url("../../fonts/Azkaban.ttf");
  }