.footerBox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}

#footerBox__footerImage {
    width: 20%;
}

@media all and (min-width: 768px) {

    #footerBox__footerImage {
        width: 30%;
    }

}