.headerBox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.headerBox__headerImages {
    width: 80%;
}

@keyframes balance { 
	0% { margin-top: 0; } 
	15% { margin-top: 0; transform: rotateX(-50deg); }	
	30% { margin-top: 0; transform: rotateX(50deg); } 
	45% { margin-top: 0; transform: rotateX(-30deg); } 
	60% { margin-top: 0; transform: rotateX(30deg); } 
	75% { margin-top: 0; transform: rotateX(-30deg); } 
	100% { margin-top: 0; transform: rotateX(0deg);} 
}

.headerBox--headerTitle {
    font-family: 'Wizarding World';
    color: black;
    animation: balance 5s ease-in-out infinite;
}

@media all and (min-width: 768px) {

    .headerBox--headerTitle {
        font-size: 3em;
    }
}

@media all and (min-width: 1024px) {
    .headerBox--headerTitle {
        font-size: 5em;
    }
}

