.detailSection {
    background-color: rgba(184, 134, 11, 0.38);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

.detailSection__detailForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.detailLabels {
    font-family: 'Azkaban';
    text-transform: uppercase;
}

.detailInputs {
    font-family: 'Hagrid';
    width: 40vw;
    padding: 0 0.5rem;
    background-color: transparent;
    border: 1px solid black;
    color:antiquewhite;
    outline: none;
}

#buttonUI {
    margin-top: 0.5rem;
    padding: 0.2rem;
    background-color: transparent;
    border: 2px double black;
    border-radius: 20%;
    font-family: 'Wizarding World';
    font-weight: 700;
}

#buttonUI:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media all and (min-width: 768px) {

    .detailLabels {
        font-size: 1.7em;
    }

    .detailInputs {
        font-size: 1.5em;
    }

    #buttonUI {
        font-size: 1.7em;
    }

}

@media all and (min-width: 1024px) {

    .detailLabels {
        font-size: 2em;
    }

    .detailInputs {
        font-size: 1.9em;
    }

    #buttonUI {
        font-size: 2em;
    }
}