.homeSection {
    background-color: rgba(128, 128, 128, 0.756);
    display: flex;
    flex-direction: column;
    text-align:center;
    margin: 2rem 1rem;
    padding: 1rem;
}

.homeSection__homeTitle {
    margin: 1rem 0;
    font-family: 'Fantastic';
    color: rgb(111, 82, 8);
}

.homeSection__homeParagraphs {
    margin-bottom: 0.5rem;
    font-family: 'Hagrid';
    color:black;
}

@media all and (min-width: 768px) {

    .homeSection {
        height: 80%;
        justify-content: center;
    }

    .homeSection__homeTitle {
        font-size: 1.5em;
    }

    .homeSection__homeParagraphs {
        font-size: 1.5em;
    }
}

@media all and (min-width: 1024px) {

    .homeSection__homeTitle {
        font-size: 2.2em;
    }

    .homeSection__homeParagraphs {
        font-size: 2.2em;
    }
}