.listComponent {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.listSection {
    background-color: rgb(141, 140, 140);
    width: 70%;
    padding: 1.5rem;
    border-radius: 30%;
}

.listSection__fullList {
    list-style: none;
    height: 60vh;
    overflow-y: scroll;
}

.listSection--elementList {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2rem;
    padding: 0.8rem;
    border-radius: 50%;
}

.listSection--elementList:not(.unforgivableColor):hover {
    background-color: rgba(184, 135, 11, 0.242);
    cursor: pointer;
  }

#nameUITest {
    font-family: 'Azkaban';
    text-transform: uppercase;
}

#descriptionUITest {
    font-family: 'Hagrid';
}

/* Unforgivables */

.unforgivableColor:hover {
    background-color: rgba(98, 10, 10, 0.625);
    border-radius: 50%;
    margin: 0 2rem;
    cursor: pointer;
}


/* Scroll */

.listSection__fullList::-webkit-scrollbar {
    -webkit-appearance: none;
}
  
.listSection__fullList::-webkit-scrollbar:vertical {
    width:10px;
}

.listSection__fullList::-webkit-scrollbar-button:increment,.listSection__fullList::-webkit-scrollbar-button {
    display: none;
} 
  
.listSection__fullList::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 4px outset darkgoldenrod;
    height: 10%;
}

.listSection__fullList::-webkit-scrollbar-track {
    margin: 4rem 0;
}

@media all and (min-width: 768px) {

    .listSection__fullList {
        height: 68vh;
    }

    .listSection__fullList::-webkit-scrollbar-track {
        margin: 8rem 0;
    }

    #nameUITest {
        font-size: 1.5em;
    }

    #descriptionUITest {
        font-size: 1.5em;
    }
}

@media all and (min-width: 1024px) {

    #nameUITest {
        font-size: 2em;
    }

    #descriptionUITest {
        font-size: 2em;
    }
}