.menuBox {
    background-color: rgba(143, 18, 18, 0.48);
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
}

.menuBox__menuTitles {
    font-family: 'Fantastic';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: antiquewhite;
}

@media all and (min-width: 768px) {

    .menuBox__menuTitles {
        font-size: 1.8em;
    }

}


@media all and (min-width: 1024px) {

    .menuBox__menuTitles {
        font-size: 2.5em;
    }

}