@import "./styles/core/fonts.css";
@import "./styles/core/reset.css";
@import "./styles/global/header.css";
@import "./styles/sections/menu.css";
@import "./styles/sections/home.css";
@import "./styles/sections/detail.css";
@import "./styles/sections/list.css";
@import "./styles/global/footer.css";

body {
  background-color: rgba(0, 0, 0, 0.729);
  background-image: url(./images/smoke.gif);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}